.progress {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 12px;
  user-select: none;
}

.progress-hidden {
  display: none;
}

.progress_svg{
  width: 100%;
  height: 100%;
  display: block;
}

.progress_rotation{
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.progress_track,.progress_arc
{
  fill: none;
  stroke-width: 15;
}

.progress_track {
  stroke: rgba(0, 0, 0, 0.08);
}

.progress_arc {
  stroke: #6734eb;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.2s ease, opacity 150ms ease;
}

@keyframes spinning{
  from { transform: rotate(-90deg); }
  to { transform: rotate(270deg); }
}

.progress-animated .progress_rotation {
  animation: spinning 5s linear infinite;
}